<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    {% include 'headercode.html' %}
    <!-- Add any styles or links to stylesheets here -->
</head>
<body>

    {% include "navbar.html" %}

    <div class="container">
        <h2>Contact Us</h2>

        <p>
            For any inquiries, please contact us using the information below:
        </p>

        <p>
            Email: example@example.com <br>
            Phone: +1 123-456-7890 <br>
            Address: 123 Main St, Cityville
        </p>

        <form action="{{ url_for('process_contact_form') }}" method="post">
            <!-- Your contact form fields go here -->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <!-- Submit Button -->
            <button type="submit">Submit</button>
        </form>
    </div>

    <!-- Your other content goes here -->
    {% include 'bottomcode.html' %}
</body>
</html>
